<h1>Hola <%= @resource.name %> <%= @resource.lastname %></h1>
<p>Se ha solicitado un cambio de contraseña por favor dirijase al siguiente link:</p>
<a href="http://www.phx.com.co/new-password?email=<%=@resource.email%>&token=<%=@token%>&type=<%= @resource.class.name.downcase %>">
  http://www.phx.com.co/new-password?email=<%=@resource.email%>&token=<%=@token%>&type=<%= @resource.class.name.downcase %>
</a>
<p>Si no fuiste tu haga caso omiso a este correo</p>
